.body {
    font-family: "Roboto", sans-serif;
        background-color: whitesmoke;
}

ul {
   list-style: none; 
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        width: 115px;
        height: 24px;
        color: #2e2f42;   
}

.header-logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    width: 115px;
    height: 24px;
     color: #4d5ae5; 
}

.header-menu-item {
    font-size: 16px;
     font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-item .link.hover,
.header-menu-item .link.focus {
    color: #2e2f42;
}

.header-adress-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}

.header-adress-link .link.hover,
.header-adress-link .link.focus {
    color: #434455;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

.features {
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.subject {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.subject-item-subtitle {
      font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.subject-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #434455;
}

.headline {
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .footer-logo {
        font-size: 18px;
            font-weight: 700;
            line-height: 1.16;
            letter-spacing: 0.03em;
        color: #f4f4fd;
    }

    .footer-logo-web {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    }

    .footer-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
    }

